{% extends 'home_page/base.html' %}
{% load static %}
{% block content %}
<main>
  <div class="container-fluid" style="background-color: #DDDDDD;">

    <div class="row text-center">
      <h2>Campeonatos Atuais</h2>
    </div>
    
    {% if cards %}
    {% for championship in cards %}
    <div class="row mt-5 gap-5 mx-auto">
      <div class="col">
        <div class="card" style="width: 15rem;">
          <img src="{% static 'assets/img/logo_brasileirao.png' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">{{championship.type}} {{championship.year}}</h5>
          </div>
        </div>
      </div>

      {% endfor %}
      {% else %}
      {% endif %}
      
      <div class="row my-5">
        <a href="{% url 'register_championship' %}"><button type="button" class="btn btn-primary col-4 mx-auto">Cadastrar Novo Campeonato</button></a>
      </div>
  </div>

</main>

{% endblock %}