<footer class="p-5" style="background-color:#12206D;">

    <div class="container">
      <div class="row">
        <div class="col-6">
          <span class="text-white small">Rede Tribuna, CNPJ: 27.065.150/0001-30<br>Rua Joaquim Plácido da
            Silva, 225, Ilha de Santa Maria, CEP 29051.900, Vitória-ES.</span>
        </div>
        <div class="col-6">
          <div style="text-align: right">
            <a href="#cards-planos" target="_blank" class="text-white small" rel="noopener">
              © JORNAL A TRIBUNA<br>desenvolvido por <strong>Rede Tribuna</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>